.product_img_custom {
    inline-size: 100%;
    block-size: 250px;
    object-fit: cover;
}

.product-description-from-api p {
    max-inline-size: 500px;
    text-wrap: wrap;
}

.product-description-from-api img {
    max-inline-size: 300px;
    max-block-size: 300px;
    object-fit: cover;
}